[submodule "FriendStagram-Android"]
	path = FriendStagram-Android
	url = git@github.com:silverAndroid/FriendStagram-Android.git
[submodule "FriendStagram-iOS"]
	path = FriendStagram-iOS
	url = https://github.com/BrandonDanis/FriendStagram-iOS
[submodule "FriendStagram-Backend"]
	path = FriendStagram-Backend
	url = https://github.com/BrandonDanis/FriendStagram-Backend
